<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Web Recorder</title>
    <!-- <link rel="stylesheet" href="{ %web-recorder-style.css" /> -->
    
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Web Recorder{{ res }}</h1>
    </header>
    <main>
      
      <div class="controls">
        <button type="button" id="mic">Get Microphone</button>
        <button type="button" id="record" hidden>Record</button>
      </div>
      <ul id="recordings"></ul>


      <form action="" method="post">
        {% csrf_token %}
        <input type="file" name="abc" id="abc">

        <div id="contain" class="row container">
          
        </div>

        <button type="submit">submit</button>

      </form>


      </div>
    </main>
    <footer>

    </footer>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const getMic = document.getElementById('mic');
        const recordButton = document.getElementById('record');
        const list = document.getElementById('recordings');
        if ('MediaRecorder' in window) {
          getMic.addEventListener('click', async () => {
            getMic.setAttribute('hidden', 'hidden');
            try {
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false
              });
              const mimeType = 'audio/mp3';
              let chunks = [];
              const recorder = new MediaRecorder(stream, { type: 'audio/mp3' });
              recorder.addEventListener('dataavailable', event => {
                if (typeof event.data === 'undefined') return;
                if (event.data.size === 0) return;
                chunks.push(event.data);
              });
              recorder.addEventListener('stop', () => {
                const recording = new Blob(chunks, {
                  'type' : 'audio/mp3; codecs=opus'
                });
                renderRecording(recording, list);
                chunks = [];
              });
              recordButton.removeAttribute('hidden');
              recordButton.addEventListener('click', () => {
                if (recorder.state === 'inactive') {
                  recorder.start();
                  recordButton.innerText = 'Stop';
                } else {
                  recorder.stop();
                  recordButton.innerText = 'Record';
                }
              });
            } catch {
              renderError(
                'You denied access to the microphone so this demo will not work.'
              );
            }
          });
        } else {
          renderError(
            "Sorry, your browser doesn't support the MediaRecorder API, so this demo will not work."
          );
        }
      });

      var count = 0;

      function renderError(message) {
        const main = document.querySelector('main');
        main.innerHTML = `<div class="error"><p>${message}</p></div>`;
      }

      function uploadAudioBlobs(FILE) {
        console.log(FILE);
        
      }

      function renderRecording(blob, list) {
        const blobUrl = URL.createObjectURL(blob);
        const li = document.createElement('li');
        const audio = document.createElement('audio');
        const anchor = document.createElement('a');
        anchor.setAttribute('href', blobUrl);
        const now = new Date();
        anchor.setAttribute(
          'download',
          `recording-${now.getFullYear()}-${(now.getMonth() + 1)
            .toString()
            .padStart(2, '0')}-${now
            .getDay()
            .toString()
            .padStart(2, '0')}--${now
            .getHours()
            .toString()
            .padStart(2, '0')}-${now
            .getMinutes()
            .toString()
            .padStart(2, '0')}-${now
            .getSeconds()
            .toString()
            .padStart(2, '0')}.mp3`
        );
        anchor.innerText = 'Download';
        audio.setAttribute('src', blobUrl);
        audio.setAttribute('controls', 'controls');
        li.appendChild(audio);
        li.appendChild(anchor);
        list.appendChild(li);

        count += 1;

        //Now convert the blob to a mp3 file or whatever the type you want
        var mp3filefromblob = new File([blob], 'filename.mp3');
        console.log(document.getElementById("abc").files);

        document.getElementById("abc").files[0] = mp3filefromblob;

        console.log(document.getElementById("abc").files);

        $("#contain").append(`
        
            <div class="col-sm-4">
              <input type="file" value="${blobUrl}"
                    id="avatar-${count}" name="record-${count}">

              <audio controls>
                <source src="${blobUrl}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>

            </div>
        
        
        `);



        console.log(mp3filefromblob);
        
        var file = {};
        var xhr = new XMLHttpRequest();
        xhr.open('GET', blobUrl, true);
        xhr.responseType = 'blob';
        xhr.onload = function(e) {
            if (this.status == 200) {
                file.file = this.response;
                file.name = "whatever_filename.mp3";
                // file.size = getYourBlobSize();
                file.size = blob.size
                file.type = "audio/mp3";
                uploadAudioBlobs(file);
            }
        };
        xhr.send();
        
        
        console.log(file);
        
        //on rec.stop() 
        console.log(blob);
        // var xhttp = new XMLHttpRequest();
        // xhttp.open("GET", "abc", true);
        var formData = new FormData();
        formData.append('audio', blob);

        $.ajax({
            url: "{% url 'abc2' %}",
            type: "GET",
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: (response)=>{
              console.log(response);
            }
        });
        // xhttp.send(data);
        // xhttp.onreadystatechange = function() {
        //     if (this.readyState == 4 && this.status == 200) {
        //         console.log(this.responseText);     
        //      }
        // };
            
        
      }
    </script>
  </body>
</html>